
.vs/IEIWindowsForms/v16/Server/sqlite3/db.lock
.vs/IEIWindowsForms/v16/Server/sqlite3/storage.ide-shm
.vs/IEIWindowsForms/v16/Server/sqlite3/storage.ide-wal
obj/Debug/IEIWindowsForms.csproj.CoreCompileInputs.cache
obj/Debug/IEIWindowsForms.csproj.CoreCompileInputs.cache
